* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container-fluid{
    min-height: 100%;
}

.main{
    overflow: auto;
    padding-bottom: 80px;
    margin-top: 5px;
}

.page-footer{
    position: relative;
    height:80px;
    width:100%;
    margin-top: -80px;
    clear: both;
    background-color: #f8f9fa !important; 
    color: black;
}