* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(255, 255, 255);
}

h1 {
  color: #17a2b8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: 0.5px solid;
  background: #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.4s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #17a2b8;
  padding-top: 5px;
  transition: all 0.4s ease-in-out;
}

input:focus {
  outline: none;
}

/* Set a style for the submit button */
.registerbtn {
  /* border: none; */
  cursor: pointer;
  width: 100%;
}
