{% extends "layout.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/styles.css">
{% endblock %}

{% block title %}
    Sign in to theonebooks
{% endblock %}

{% block body %}
        
<form action="{{ url_for('login') }}" method="POST">
    <div class="container">
      <h1>Sign-in here</h1>
      <hr>
  
      <label for="name"><b>email</b></label><br>
      <input type="text" placeholder="Enter-Email" name="Semail" required/><br>
  
      <label for="psw"><b>Password</b></label><br>
      <input type="password" placeholder="Enter Password" name="Spassword" required/> <br>
  
      <hr>
  
      <button type="submit" class="registerbtn">log in</button>
    </div>
    
    <div class="container signup">
      <p>Don't have an account? <a href="/">Sign up</a>.</p>
    </div>
  </form>
  


    
{% endblock %}
